body {
    background: linear-gradient(-45deg, #ffb9a4, #fce9a6, #73d1f3, #89fadf);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    font-family: arial, helvetica, sans-serif; 
    text-align: center;
    color: white;
  }

.page-logo{
width: 200px;
}

.container{
  position: absolute;
  top:58%;
  left:50%;
  background-color: rgba(108, 215, 215, 0.839);
  transform: translate(-50%,-50%);
  padding: 1em 5em;
  border-radius: 10px; 
  box-shadow: 3px 3px 9px rgb(28, 28, 28);
  text-shadow: 1px 1px 2px black;
}
button{
  background-color: MediumTurquoise;
  color: white;
  border: none;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 1px 1px 6px rgb(29, 29, 29);
  cursor: pointer;
  font-size: 14.5px;
  text-shadow: 1px 1px 2px black;
}

button:hover{
  background-color: RoyalBlue;
} 

.final-step,
.second-step {
  display:none;
}

input{
  padding: 10px;
  border-radius: 10px;
  outline: none;
}
#resultado{
  font-size: 25px
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



